<% provide(:title, "Home") %>
<%= render 'layouts/header' %>
<section class="container blog-index">
  <div class="blog-index-intro"><h1 class="big-title">Блог</h1>
    <p class="text-lg">Место, где я делюсь различными советами, статьями или ресурсами, о которых узнал.</p></div>
  <div>
    <article class="blog_post">
      <a href="/blog/life-is-precious" class="blog_post-link"><h1 class="blog_post-title">Life is Precious</h1>
        <div>
          <time class="tiny">5/25/2020</time>
        </div>
      </a></article>
  </div>
</section>

