<% provide(:title, "Home") %>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1"
        name="viewport">
  <link rel="stylesheet"
        href="./styles/fonts.css">
  <link rel="stylesheet"
        href="./styles/main.css">
  <title><%= yield(:title) %> | Grisha.me</title>
</head>

<body>
<div id="__nuxt">
  <div id="__layout">
    <div>
      <div class="site">
        <div class="home-hero-wrap">
          <div>
            <header class="header">
              <div class="container">
                <nav>
                  <div class="logo">
                    <a href="/"
                       class="nuxt-link-exact-active nuxt-link-active">
                      <svg height="31"
                           viewBox="0 0 80 31"
                           width="80"
                           xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.062 29.787h29.875l-14.938-27.239-14.938 27.239zm31.938 1.213h-34l17-31 17 31zM40 2.547l-14.938 27.239h29.875l-14.938-27.239zm17 28.453h-34l17-31 17 31zM48.062 29.787h29.875l-14.938-27.239-14.938 27.239zm31.938 1.213h-34l17-31 17 31z"></path>
                      </svg>
                    </a>
                  </div>
                  <a href="/work"
                     class="pagination">Работы</a>
                  <a href="/blog"
                     class="pagination">Блог</a><!---->
                  <div class="email">
                    <svg height="14"
                         viewBox="0 0 16 14"
                         width="16"
                         xmlns="http://www.w3.org/2000/svg">
                      <polygon fill="#FFFFFF"
                               opacity=".305"
                               points="9.3 .3 7.9 1.7 12.2 6 0 6 0 8 12.2 8 7.9 12.3 9.3 13.7 16 7"></polygon>
                    </svg>
                    <button
                      class="email-link"
                      id="show-modal">
                      nedprofit@gmail.com
                    </button>
                  </div>
                </nav>
              </div>
            </header><!----></div>
          <div>
            <div class="hero__content container">
              <div class="hero__base">
                <p class="hero__eyebrow eyebrow">Привет, мир!</p>
                <h1 class="hero__headline">Григорий Паращевин</h1>
                <div class="hero__slogan">
                  <p>
                    Я <em>Junior Ruby on Rails Developer</em> из Москвы. Пишу код, активно пытаюсь улучшить свои навыки (привет, Coursera),
                    и обожаю читать профильную научно-техническую литературу (а тут передаю привет Sci-Hub и библиотеке Гарвардского университета).
                  </p>
                </div>
                <p class="hero__eyebrow eyebrow">Найти меня можно здесь</p>
                <div class="grid__row links">
                  <div class="column"><h4 class="link__section-title">VK</h4>
                    <ul>
                      <li>
                        <a href="https://vk.com/nouara">@nouara - здесь иногда пишу о своей жизни</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="grid__row grid__sub-row links">
                  <div class="column">
                    <h4 class="link__section-title">Telegram</h4>
                    <ul>
                      <li>
                        <a href="https://t.me/nedprofit">@nedprofit</a>
                      </li>
                    </ul>
                  </div>
                  <div class="column">
                    <h4 class="link__section-title">Github</h4>
                    <ul>
                      <li>
                        <a href="https://github.com/nedprofit">nedprofit</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="hero-slant"></div>
          </div>
        </div>
        <div class="home-intro container"
             data-v-4a222af8>
          <div class="row between home-intro__wrap"
               data-v-4a222af8>
            <div class="one-half"
                 data-v-4a222af8>
              <h4 class="home-intro__tagline eyebrow"
                  data-v-4a222af8>
                Жизнь в учебе - это не так уж и плохо
              </h4>
              <div class="home-intro__lead"
                   data-v-4a222af8="">
                <p>
                  Я занимаюсь <em>разработкой</em> на языке Ruby со специализированием на фреймворке Ruby on Rails в качестве
                  основой сферы деятельности, но с удовольствием затрагиваю и смежные области по типу <em>инструмента тестирования
                  языка</em> RSpec, так что в тех случаях, где это выгодно пользуюсь принципами разработки через тестирование (TDD).
                </p>
              </div>
            </div>
            <div class="one-half cta-block"
                 data-v-4a222af8="">
              <p class="home-intro__cta"
                 data-v-4a222af8="">
                Есть идеи по сотрудничеству?
              </p>
              <p class="home-intro__email"
                 data-v-4a222af8="">
                <svg height="14"
                     viewBox="0 0 16 14"
                     width="16"
                     xmlns="http://www.w3.org/2000/svg"
                     data-v-4a222af8="">
                  <path d="M9.3.3l-1.4 1.4 4.3 4.3h-12.2v2h12.2l-4.3 4.3 1.4 1.4 6.7-6.7z"
                        data-v-4a222af8=""
                        fill="#F4C051"
                        opacity=".748">
                  </path>
                </svg>
                <button class="email-link"
                        data-v-4a222af8="">
                  nedprofit@gmail.com
                </button>
              </p>
            </div>
          </div>
        </div>

        <%= render 'layouts/list_work' %>

        <section class="home-sideprojects container">
          <h2 class="home__sideprojects-title big-title">На другой стороне монеты..</h2>
          <div class="project-list">
            <div class="project">
              <article data-v-2ab1e5ec>
                <p class="eyebrow eyebrow-dark"
                   data-v-2ab1e5ec>
                  Аналитический обзор / Статья
                </p>
                <h4 class="project__title"
                    data-v-2ab1e5ec="">
                  Система безопасного цифрового голосования на основе технологии блокчейн
                </h4>
                <div class="project__description"
                     data-v-2ab1e5ec="">
                  <p>
                    В данном обзоре представлена попытка описать возможности максимального
                    использования следующих преимуществ блокчейн, таких как криптографические основы
                    и прозрачность для достижения эффективной схемы электронного голосования.
                    Предлагаемая схема соответствует основным требованиям, предъявляемым к схемам
                    электронного голосования и обеспечивает возможность постоянной проверки над
                    результатами.
                  </p>
                  <p>
                    В документе представлены подробности предлагаемой схемы электронного
                    голосования, а также ее реализация с использованием платформы Multichain.
                    Обзор разделен на 3 раздела. Первый их них посвящен универсальным алгоритмам
                    сжатия, второй – алгоритмам сжатия изображений, а третий – современным подходам к
                    сжатию информации.
                  </p>
                </div>
                <div class="project__links"
                     data-v-2ab1e5ec="">
                  <p><a href="https://portfolio.bmstu.ru/uploads/portfolio/f6bfd882-695b-11e6-b5a8-005056962143/cbfd4e0b-95f5-8dbf-9500-de07ffef828b.pdf"
                                                              title="e-voting">Ознакомиться можно здесь</a>
                  </p>
                </div>
              </article>
            </div>
            <div class="project">
              <article data-v-2ab1e5ec="">
                <p class="eyebrow eyebrow-dark"
                   data-v-2ab1e5ec="">
                  Расчетно-пояснительная записка
                </p>
                <h4 class="project__title"
                    data-v-2ab1e5ec="">
                  Разработка портала c элементами доски-объявлений
                </h4>
                <div class="project__description"
                     data-v-2ab1e5ec="">
                  <p>
                    Объектом разработки является программа-форум с элементами доски объявлений.</p>
                  <p>
                    Цель работы – проектирование и разработка портала в виде электронной
                    доски объявлений, предназначенного для публикации заметок о продаже чего-либо, анонсе
                    новостей, а также возможности обмена между пользователями информацией.
                    В результате разработки была спроектирована и реализована программа-форум с
                    элементами доски объявлений на фреймворке <em>Django</em>.
                  </p>
                </div>
                <div class="project__links"
                     data-v-2ab1e5ec="">
                  <p>
                    <a href="https://portfolio.bmstu.ru/uploads/portfolio/f6bfd882-695b-11e6-b5a8-005056962143/0417321e-d77f-0753-3ece-24541587d19b.pdf"
                       title="django_project">Ознакомиться можно здесь</a>
                  </p>
                </div>
              </article>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
</body>
</html>
