<%= render 'layouts/header' %>

<% provide(:title, "Новая статья") %>

<section class="container blog-index">
  <%= link_to 'Назад', articles_path, :class => "btn-link" %>

  <div>
    <%= render 'form' %>
  </div>
</section>


