<div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-content one-half">
          <h2 class="footer__title big-title">Скажите привет
            <svg height="26"
                 viewBox="0 0 66 26"
                 width="66"
                 xmlns="http://www.w3.org/2000/svg"
                 class="footer__logo">
              <g fill="#F4C051">
                <path d="M1.679 25h24.321l-12.161-22.45-12.161 22.45zm26 1h-27.679l13.839-25.55 13.839 25.55zM32.839 2.55l-12.161 22.45h24.321l-12.161-22.45zm13.839 23.45h-27.679l13.839-25.55 13.839 25.55zM39.679 25h24.321l-12.161-22.45-12.161 22.45zm26 1h-27.679l13.839-25.55 13.839 25.55z">
                </path>
              </g>
            </svg>
          </h2>
          <p class="footer__email">
            <button class="email-link">nedprofit@gmail.com
            </button>
          </p>
          <ul class="footer__links">
            <li>
              <a href="https://vk.com/nouara"> VK</a>
            </li>
            <li>
              <a href="https://t.me/nedprofit"> Telegram</a>
            </li>
            <li>
              <a href="https://github.com/nedprofit"> Github</a>
            </li>
            <li>
              <a href="grisha.me/blog"> Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer><!---->
</div>

<%# img alt="img"
     class="footer-image"
     #src="./images/footer.jpg"> %>
