<div>
  <header class="header">
    <div class="container">
      <nav>
        <div class="logo">
          <a href="/"
             class="nuxt-link-exact-active nuxt-link-active">
            <svg height="31"
                 viewBox="0 0 80 31"
                 width="80"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M2.062 29.787h29.875l-14.938-27.239-14.938 27.239zm31.938 1.213h-34l17-31 17 31zM40 2.547l-14.938 27.239h29.875l-14.938-27.239zm17 28.453h-34l17-31 17 31zM48.062 29.787h29.875l-14.938-27.239-14.938 27.239zm31.938 1.213h-34l17-31 17 31z"></path>
            </svg>
          </a>
        </div>
        <a href="/work"
           class="pagination">Портфолио</a>
        <a href="/blog"
           class="pagination">Блог</a><!---->
        <div class="email">
          <svg height="14"
               viewBox="0 0 16 14"
               width="16"
               xmlns="http://www.w3.org/2000/svg">
            <polygon fill="#FFFFFF"
                     opacity=".305"
                     points="9.3 .3 7.9 1.7 12.2 6 0 6 0 8 12.2 8 7.9 12.3 9.3 13.7 16 7"></polygon>
          </svg>
          <button
            class="email-link"
            id="show-modal">
            nedprofit@gmail.com
          </button>
        </div>
      </nav>
    </div>
  </header>
</div>
