
<section class="home-work container">
  <div class="home-work-actions">
    <h2 class="home__work-title big-title">Работы
    </h2>
    <a href="/work"
       class="btn-link">
      Открыть полный список
    </a>
  </div>
  <div class="work-list wrapper">
    <div class="work">
      <article class="work__item">
        <a href="">
          <h4 class="work__title">Soon!</h4>
        </a>
      </article>
    </div>
    <div class="work">
      <article class="work__item">
        <a href="">
          <h4 class="work__title">
          </h4>
        </a>
      </article>
    </div>
    <div class="work">
      <article class="work__item">
        <a href="">
          <h4 class="work__title">

          </h4>
        </a>
      </article>
    </div>
    <div class="work">
      <article class="work__item">
        <a href="">
          <h4 class="work__title">

          </h4>
        </a>
      </article>
    </div>
    <div class="work">
      <article class="work__item">
        <a href="">
          <h4 class="work__title">

          </h4>
        </a>
      </article>
    </div>
    <div class="work">
      <article class="work__item">
        <a href="">
          <h4 class="work__title"></h4>
        </a>
      </article>
    </div>
  </div>
</section>

